.version.gallery /* version checker */
{
	color: #0000E3;
	background-color: #0C7BAD;
}

.html
{
	background: #FFFFFF url("../images/aheimann_storyteller_white.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 659px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 22px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/aheimann_storyteller_white-page-fr.png") no-repeat left top;
	background-color: rgba(255,255,255,0.26);
	background-size: cover;
}

#u138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u138_position_content
{
	margin-bottom: -11px;
	padding-top: 44px;
}

#pu1228
{
	width: 0.01px;
	left: 910px;
	position: relative;
}

#u1228
{
	z-index: 12;
	width: 45px;
	margin-right: -10000px;
}

#u4447
{
	z-index: 38;
	width: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u546
{
	z-index: 3;
	left: 68px;
	top: -2px;
	margin-bottom: -2px;
}

#u138,#u138-bw
{
	z-index: 2;
	min-height: 172px;
}

#u1227
{
	z-index: 5;
	width: 335px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 29px;
}

#u748
{
	z-index: 6;
	width: 130px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u781
{
	z-index: 8;
	width: 118px;
	margin-right: -10000px;
	left: 132px;
}

#u781_clip
{
	width: 118px;
	height: 69px;
}

#u781_img
{
	margin-top: -12px;
}

#u945
{
	z-index: 10;
	width: 85px;
	margin-right: -10000px;
	left: 250px;
}

#u1260
{
	z-index: 14;
	width: 251px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 575px;
}

#u3204
{
	z-index: 16;
	width: 165px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 46px;
}

#u3208-4
{
	z-index: 20;
	width: 134px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 12px;
}

#u3205
{
	z-index: 17;
	width: 161px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 217px;
}

#u3209-4
{
	z-index: 24;
	width: 134px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u3206
{
	z-index: 18;
	width: 175px;
	padding-bottom: 11px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 562px;
}

#u3212-4
{
	z-index: 28;
	width: 134px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 24px;
}

#u3207
{
	z-index: 19;
	width: 171px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 744px;
}

#u3213-4
{
	z-index: 32;
	width: 134px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u3234
{
	z-index: 36;
	width: 47px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 855px;
}

#u3234_img
{
	padding-bottom: 1px;
}

#u4951
{
	z-index: 40;
	width: 845px;
	margin-right: -10000px;
	margin-top: 177px;
	left: -100px;
}

#u2605
{
	z-index: 42;
	width: 306px;
	height: 234px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 318px;
}

#u2605:hover
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2605:active
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u4959
{
	z-index: 43;
	width: 330px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 739px;
}

#u4442
{
	z-index: 45;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: -152px;
}

#u4442_clip
{
	overflow: hidden;
	width: 1160px;
	height: 616px;
}

#u4442_img
{
	margin-left: -174px;
	margin-right: -173px;
	margin-bottom: -359px;
}

#slideshowu3509
{
	z-index: 47;
	width: 0.01px;
	height: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: -4px;
}

#u3551
{
	position: absolute;
	width: 729px;
	height: 358px;
	background-color: transparent;
	left: 103px;
}

#u3551popup
{
	z-index: 48;
}

#u3713
{
	z-index: 49;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5490
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5508
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5597
{
	z-index: 55;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5597_img
{
	padding-left: 135px;
	padding-right: 134px;
}

#u5606
{
	z-index: 57;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5615
{
	z-index: 59;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5624
{
	z-index: 61;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5624_img
{
	padding-left: 160px;
	padding-right: 159px;
}

#u5633
{
	z-index: 63;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5672
{
	z-index: 65;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5672_img
{
	padding-left: 175px;
	padding-top: 1px;
	padding-right: 174px;
}

#u5690
{
	z-index: 67;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5690_img
{
	padding-left: 193px;
	padding-right: 193px;
}

#u5699
{
	z-index: 69;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5699_img
{
	padding-left: 163px;
	padding-right: 162px;
}

#u5708
{
	z-index: 71;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5749
{
	z-index: 73;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5758
{
	z-index: 75;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5767
{
	z-index: 77;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5776
{
	z-index: 79;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5606_img,#u5615_img,#u5633_img,#u5708_img,#u5749_img,#u5758_img,#u5767_img,#u5776_img
{
	padding-left: 96px;
	padding-right: 96px;
}

#u5785
{
	z-index: 81;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5785_img
{
	padding-left: 245px;
	padding-right: 245px;
}

#u5517
{
	z-index: 83;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5526
{
	z-index: 85;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5526_img
{
	padding-left: 139px;
	padding-right: 138px;
}

#u5545
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5560
{
	z-index: 89;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5560_img
{
	padding-left: 72px;
	padding-right: 37px;
}

#u3749
{
	z-index: 91;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3758
{
	z-index: 93;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3767
{
	z-index: 95;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3776
{
	z-index: 97;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3785
{
	z-index: 99;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3794
{
	z-index: 101;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3803
{
	z-index: 103;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4070
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4106
{
	z-index: 107;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4106_clip
{
	overflow: hidden;
	width: 729px;
	height: 358px;
}

#u4106_img
{
	margin: -31px 80px -31px 89px;
}

#u4599
{
	z-index: 109;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4599_img
{
	padding-left: 32px;
	padding-right: 67px;
}

#u4608
{
	z-index: 111;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4617
{
	z-index: 113;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4626
{
	z-index: 115;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4635
{
	z-index: 117;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4644
{
	z-index: 119;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4653
{
	z-index: 121;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4671
{
	z-index: 123;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4689
{
	z-index: 125;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4707
{
	z-index: 127;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4716
{
	z-index: 129;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4608_img,#u4617_img,#u4626_img,#u4635_img,#u4644_img,#u4653_img,#u4671_img,#u4689_img,#u4707_img,#u4716_img
{
	padding-left: 126px;
	padding-right: 126px;
}

#u4734
{
	z-index: 131;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4734_img
{
	padding-left: 119px;
	padding-right: 119px;
}

#u4761
{
	z-index: 133;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4761_img
{
	padding-left: 230px;
	padding-right: 230px;
}

#u4770
{
	z-index: 135;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4779
{
	z-index: 137;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4770_img,#u4779_img
{
	padding-left: 126px;
	padding-top: 1px;
	padding-right: 126px;
}

#u4788
{
	z-index: 139;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4788_img
{
	padding-left: 231px;
	padding-right: 230px;
}

#u4797
{
	z-index: 141;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4797_img
{
	padding-left: 96px;
	padding-right: 95px;
}

#u4806
{
	z-index: 143;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4806_img
{
	padding-left: 121px;
	padding-right: 131px;
}

#u4833
{
	z-index: 145;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4842
{
	z-index: 147;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4842_img
{
	padding-left: 107px;
	padding-top: 1px;
	padding-right: 106px;
}

#u4851
{
	z-index: 149;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4851_img
{
	padding-left: 97px;
	padding-right: 97px;
}

#u4860
{
	z-index: 151;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4860_img
{
	padding-left: 144px;
	padding-right: 144px;
}

#u4869
{
	z-index: 153;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4869_img
{
	padding-left: 260px;
	padding-right: 260px;
}

#u4878
{
	z-index: 155;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4833_img,#u4878_img
{
	padding-left: 186px;
	padding-right: 185px;
}

#u4887
{
	z-index: 157;
	width: 729px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4887_img
{
	padding-left: 216px;
	padding-right: 215px;
}

#u3544
{
	position: absolute;
	width: 909px;
	top: 366px;
}

#u3544popup
{
	z-index: 159;
}

#u3716
{
	z-index: 160;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 582px;
}

#u3716.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 189px -10000px 0px 0px;
}

#u5493
{
	z-index: 163;
	min-height: 45px;
	min-width: 60px;
	vertical-align: top;
	height: 45px;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	left: 751px;
	background: url("../images/u5493.png") no-repeat 0px 0px;
}

#u5493.SSSlideLinkSelected
{
	height: 45px;
	width: 60px;
	background: url("../images/u5493-a.png") no-repeat 0px 0px;
}

#u5511
{
	z-index: 166;
	min-height: 45px;
	min-width: 60px;
	vertical-align: top;
	height: 45px;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	left: 824px;
	background: url("../images/u5511.png") no-repeat 0px 0px;
}

#u5511.SSSlideLinkSelected
{
	height: 45px;
	width: 60px;
	background: url("../images/u5511-a.png") no-repeat 0px 0px;
}

#u5600
{
	z-index: 168;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 560px;
}

#u5600_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u5609
{
	z-index: 170;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 620px;
}

#u5618
{
	z-index: 172;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 690px;
}

#u5627
{
	z-index: 174;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 760px;
}

#u5627_img
{
	margin-top: -4px;
	margin-bottom: -3px;
}

#u5636
{
	z-index: 176;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 830px;
}

#u5675
{
	z-index: 178;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 68px;
}

#u5693
{
	z-index: 180;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
}

#u5702
{
	z-index: 182;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 203px;
}

#u5702_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u5711
{
	z-index: 184;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 284px;
}

#u5752
{
	z-index: 186;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 354px;
}

#u5761
{
	z-index: 188;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 424px;
}

#u5770
{
	z-index: 190;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 494px;
}

#u5779
{
	z-index: 192;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 564px;
}

#u5788
{
	z-index: 194;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 68px;
}

#u5520
{
	z-index: 197;
	min-height: 45px;
	min-width: 60px;
	vertical-align: top;
	height: 45px;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	left: 410px;
	background: url("../images/u5520.png") no-repeat 0px 0px;
}

#u5520.SSSlideLinkSelected
{
	height: 45px;
	width: 60px;
	background: url("../images/u5520-a.png") no-repeat 0px 0px;
}

#u5529
{
	z-index: 199;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 477px;
}

#u5548
{
	z-index: 202;
	min-height: 45px;
	min-width: 60px;
	vertical-align: top;
	height: 45px;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	left: 542px;
	background: url("../images/u5548.png") no-repeat 0px 0px;
}

#u5548.SSSlideLinkSelected
{
	height: 45px;
	width: 60px;
	background: url("../images/u5548-a.png") no-repeat 0px 0px;
}

#u5563
{
	z-index: 204;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u3752
{
	z-index: 206;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 69px;
}

#u3761
{
	z-index: 208;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 137px;
}

#u3770
{
	z-index: 210;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 68px;
}

#u3779
{
	z-index: 212;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u3788
{
	z-index: 214;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 143px;
}

#u3797
{
	z-index: 216;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 272px;
}

#u3806
{
	z-index: 218;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 206px;
}

#u3752.SSSlideLinkSelected,#u3761.SSSlideLinkSelected,#u3779.SSSlideLinkSelected,#u3797.SSSlideLinkSelected,#u3806.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u4073
{
	z-index: 220;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 639px;
}

#u4109
{
	z-index: 222;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u4602
{
	z-index: 224;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 70px;
}

#u4611
{
	z-index: 226;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 140px;
}

#u4620
{
	z-index: 228;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 210px;
}

#u4629
{
	z-index: 230;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 280px;
}

#u4638
{
	z-index: 232;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 350px;
}

#u4647
{
	z-index: 234;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 417px;
}

#u4647_img
{
	margin-left: 2px;
	margin-right: -2px;
}

#u4656
{
	z-index: 236;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 490px;
}

#u4674
{
	z-index: 238;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 630px;
}

#u3770.SSSlideLinkSelected,#u3788.SSSlideLinkSelected,#u4073.SSSlideLinkSelected,#u4109.SSSlideLinkSelected,#u4602.SSSlideLinkSelected,#u4611.SSSlideLinkSelected,#u4620.SSSlideLinkSelected,#u4629.SSSlideLinkSelected,#u4638.SSSlideLinkSelected,#u4647.SSSlideLinkSelected,#u4656.SSSlideLinkSelected,#u4674.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u4692
{
	z-index: 240;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#u4710
{
	z-index: 242;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 709px;
}

#u5600.SSSlideLinkSelected,#u4710.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u4719
{
	z-index: 244;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 849px;
}

#u4737
{
	z-index: 246;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 135px;
}

#u4737_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u4764
{
	z-index: 248;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 202px;
}

#u4764.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u4773
{
	z-index: 250;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 272px;
}

#u4782
{
	z-index: 252;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 340px;
}

#u4791
{
	z-index: 254;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 410px;
}

#u5609.SSSlideLinkSelected,#u5618.SSSlideLinkSelected,#u5627.SSSlideLinkSelected,#u5636.SSSlideLinkSelected,#u4791.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 113px -10000px 0px 0px;
}

#u4800
{
	z-index: 256;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 480px;
}

#u5675.SSSlideLinkSelected,#u5693.SSSlideLinkSelected,#u4737.SSSlideLinkSelected,#u4773.SSSlideLinkSelected,#u4782.SSSlideLinkSelected,#u4800.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 117px -10000px 0px 0px;
}

#u5609_img,#u5618_img,#u5636_img,#u5711_img,#u5752_img,#u5761_img,#u5770_img,#u5779_img,#u4800_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u4809
{
	z-index: 258;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 550px;
}

#u4809.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 114px -10000px 0px 0px;
}

#u4836
{
	z-index: 260;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 779px;
}

#u4719.SSSlideLinkSelected,#u4836.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 57px -10000px 0px 0px;
}

#u4845
{
	z-index: 262;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
}

#u4845_img
{
	margin-left: -3px;
	margin-right: -2px;
}

#u4854
{
	z-index: 264;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 136px;
}

#u5702.SSSlideLinkSelected,#u5788.SSSlideLinkSelected,#u4845.SSSlideLinkSelected,#u4854.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 174px -10000px 0px 0px;
}

#u4854_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u4863
{
	z-index: 266;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 652px;
}

#u4863.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 178px -10000px 0px 0px;
}

#u5600_clip,#u5609_clip,#u5618_clip,#u5627_clip,#u5636_clip,#u5702_clip,#u5711_clip,#u5752_clip,#u5761_clip,#u5770_clip,#u5779_clip,#u4647_clip,#u4737_clip,#u4800_clip,#u4845_clip,#u4854_clip,#u4863_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u4863_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u4872
{
	z-index: 268;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 372px;
}

#u4881
{
	z-index: 270;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 679px;
}

#u5529.SSSlideLinkSelected,#u5563.SSSlideLinkSelected,#u4692.SSSlideLinkSelected,#u4881.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4890
{
	z-index: 272;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 512px;
}

#u5711.SSSlideLinkSelected,#u5752.SSSlideLinkSelected,#u5761.SSSlideLinkSelected,#u5770.SSSlideLinkSelected,#u5779.SSSlideLinkSelected,#u4872.SSSlideLinkSelected,#u4890.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 183px -10000px 0px 0px;
}

#u3513-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #D21B5B;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 145px;
	left: 62px;
}

#u3513-4popup
{
	z-index: 274;
}

#u3514-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #D21B5B;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 145px;
	left: 843px;
}

#u3514-4popup
{
	z-index: 278;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4392
{
	z-index: 282;
	width: 1092px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: -96px;
	background: #FFFFFF url("../images/screen%20shot%202014-05-22%20at%2050108%20pm.jpg") repeat left top;
}

#u5006
{
	z-index: 283;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: -4px;
}

#u4413
{
	z-index: 285;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 761px;
	left: 190px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

