#u138
{
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/untitled-2.png") no-repeat left top;
	background-size: cover;
}

#u546
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1227
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u781_clip
{
	overflow: hidden;
}

#u3204
{
	border-style: none;
	border-color: transparent;
	background-color: #79CEE7;
	position: relative;
}

#u3205
{
	border-style: none;
	border-color: transparent;
	background-color: #922D8D;
	position: relative;
}

#u3206
{
	border-style: none;
	border-color: transparent;
	background-color: #D21B5B;
	position: relative;
}

#u3207
{
	border-style: none;
	border-color: transparent;
	background-color: #F59231;
	position: relative;
}

#u138_align_to_page,#u3208-4,#u3209-4,#u3212-4,#u3213-4
{
	position: relative;
}

#u3208-4_img,#u3209-4_img,#u3212-4_img,#u3213-4_img
{
	display: block;
	vertical-align: top;
}

#u2605
{
	position: relative;
	background: transparent url("../images/untitled-2-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u2605:hover
{
	background: transparent url("../images/untitled-2-vector%20smart%20object2.png") no-repeat left top;
	background-size: contain;
}

#u2605:active
{
	background: transparent url("../images/untitled-2-vector%20smart%20object3.png") no-repeat left top;
	background-size: contain;
}

#u1228,#u4447,#u748,#u781,#u945,#u1260,#u3234,#u4951,#u4959
{
	background-color: transparent;
	position: relative;
}

