.version.reviews /* version checker */
{
	color: #00001D;
	background-color: #64190D;
}

.html
{
	background: #FFFFFF url("../images/aheimann_storyteller_white.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 648px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 33px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/aheimann_storyteller_white-page-fr.png") no-repeat left top;
	background-color: rgba(255,255,255,0.26);
	background-size: cover;
}

#u138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u138_position_content
{
	margin-bottom: -11px;
	padding-top: 44px;
}

#pu1228
{
	width: 0.01px;
	left: 910px;
	position: relative;
}

#u1228
{
	z-index: 12;
	width: 45px;
	margin-right: -10000px;
}

#u4447
{
	z-index: 38;
	width: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u546
{
	z-index: 3;
	left: 68px;
	top: -2px;
	margin-bottom: -2px;
}

#u138,#u138-bw
{
	z-index: 2;
	min-height: 172px;
}

#u1227
{
	z-index: 5;
	width: 335px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 29px;
}

#u748
{
	z-index: 6;
	width: 130px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u781
{
	z-index: 8;
	width: 118px;
	margin-right: -10000px;
	left: 132px;
}

#u781_clip
{
	width: 118px;
	height: 69px;
}

#u781_img
{
	margin-top: -12px;
}

#u945
{
	z-index: 10;
	width: 85px;
	margin-right: -10000px;
	left: 250px;
}

#u1260
{
	z-index: 14;
	width: 251px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 575px;
}

#u3204
{
	z-index: 16;
	width: 165px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 46px;
}

#u3208-4
{
	z-index: 20;
	width: 134px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 12px;
}

#u3205
{
	z-index: 17;
	width: 161px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 217px;
}

#u3209-4
{
	z-index: 24;
	width: 134px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u3206
{
	z-index: 18;
	width: 175px;
	padding-bottom: 11px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 562px;
}

#u3212-4
{
	z-index: 28;
	width: 134px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 24px;
}

#u3207
{
	z-index: 19;
	width: 171px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 744px;
}

#u3213-4
{
	z-index: 32;
	width: 134px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u3234
{
	z-index: 36;
	width: 47px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 855px;
}

#u3234_img
{
	padding-bottom: 1px;
}

#u4951
{
	z-index: 40;
	width: 845px;
	margin-right: -10000px;
	margin-top: 177px;
	left: -100px;
}

#u2605
{
	z-index: 42;
	width: 306px;
	height: 234px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 318px;
}

#u2605:hover
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2605:active
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u4959
{
	z-index: 43;
	width: 330px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 739px;
}

#u5285
{
	z-index: 45;
	width: 413px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 36px;
}

#u5291-15
{
	z-index: 47;
	width: 372px;
	min-height: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 56px;
}

#u5291-2,#u5291-4,#u5291-5,#u5291-7,#u5291-8,#u5291-10,#u5291-12
{
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u5292
{
	z-index: 62;
	width: 328px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 488px;
}

#u5298-12
{
	z-index: 64;
	width: 302px;
	min-height: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 508px;
}

#u5298-2,#u5298-3,#u5298-5,#u5298-7,#u5298-9
{
	text-align: center;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u5299
{
	z-index: 76;
	width: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 445px;
	left: 458px;
}

#u5306-9
{
	z-index: 78;
	width: 179px;
	min-height: 135px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 465px;
}

#u5307
{
	z-index: 87;
	width: 66px;
	background-color: transparent;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	position: relative;
	margin-right: -10000px;
	margin-top: 548px;
	left: 387px;
}

#u5319
{
	z-index: 89;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 782px;
}

#u5325
{
	z-index: 91;
	width: 14px;
	background-color: transparent;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,0);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,0);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
	left: 455px;
}

#u5331
{
	z-index: 93;
	width: 37px;
	background-color: transparent;
	-webkit-transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	-ms-transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 634px;
}

#u5334
{
	z-index: 95;
	width: 71px;
	background-color: transparent;
	-webkit-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,80,11);
	-ms-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,80,11);
	transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,80,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 777px;
}

#u5337
{
	z-index: 97;
	width: 60px;
	background-color: transparent;
	-webkit-transform: matrix(0.5446,-0.8387,0.8387,0.5446,-12,39);
	-ms-transform: matrix(0.5446,-0.8387,0.8387,0.5446,-12,39);
	transform: matrix(0.5446,-0.8387,0.8387,0.5446,-12,39);
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 698px;
}

#u5340
{
	z-index: 99;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 821px;
}

#u5343
{
	z-index: 101;
	width: 83px;
	background-color: transparent;
	-webkit-transform: matrix(0.7771,0.6293,-0.6293,0.7771,50,-12);
	-ms-transform: matrix(0.7771,0.6293,-0.6293,0.7771,50,-12);
	transform: matrix(0.7771,0.6293,-0.6293,0.7771,50,-12);
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 668px;
}

#u5346
{
	z-index: 103;
	width: 62px;
	background-color: transparent;
	-webkit-transform: matrix(0.8829,-0.4695,0.4695,0.8829,-18,20);
	-ms-transform: matrix(0.8829,-0.4695,0.4695,0.8829,-18,20);
	transform: matrix(0.8829,-0.4695,0.4695,0.8829,-18,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 414px;
}

#u5349
{
	z-index: 105;
	width: 37px;
	background-color: transparent;
	-webkit-transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	-ms-transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	transform: matrix(-0.0349,0.9994,-0.9994,-0.0349,54,17);
	position: relative;
	margin-right: -10000px;
	margin-top: 532px;
	left: 155px;
}

#u5352
{
	z-index: 107;
	width: 66px;
	background-color: transparent;
	-webkit-transform: matrix(0.6157,-0.788,0.788,0.6157,-13,39);
	-ms-transform: matrix(0.6157,-0.788,0.788,0.6157,-13,39);
	transform: matrix(0.6157,-0.788,0.788,0.6157,-13,39);
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 209px;
}

#u5355
{
	z-index: 109;
	width: 26px;
	background-color: transparent;
	-webkit-transform: matrix(0.3907,-0.9205,0.9205,0.3907,-14,27);
	-ms-transform: matrix(0.3907,-0.9205,0.9205,0.3907,-14,27);
	transform: matrix(0.3907,-0.9205,0.9205,0.3907,-14,27);
	position: relative;
	margin-right: -10000px;
	margin-top: 583px;
	left: 302px;
}

#u5358
{
	z-index: 111;
	width: 44px;
	background-color: transparent;
	-webkit-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,50,7);
	-ms-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,50,7);
	transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,50,7);
	position: relative;
	margin-right: -10000px;
	margin-top: 598px;
	left: 351px;
}

#u5361
{
	z-index: 113;
	width: 30px;
	background-color: transparent;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-12,11);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-12,11);
	transform: matrix(0.866,-0.5,0.5,0.866,-12,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 549px;
	left: 354px;
}

#u5364
{
	z-index: 115;
	width: 16px;
	background-color: transparent;
	-webkit-transform: matrix(0.0349,-0.9994,0.9994,0.0349,-7,22);
	-ms-transform: matrix(0.0349,-0.9994,0.9994,0.0349,-7,22);
	transform: matrix(0.0349,-0.9994,0.9994,0.0349,-7,22);
	position: relative;
	margin-right: -10000px;
	margin-top: 482px;
	left: 114px;
}

#u5367
{
	z-index: 117;
	width: 53px;
	background-color: transparent;
	-webkit-transform: matrix(-0.9925,0.1219,-0.1219,-0.9925,56,50);
	-ms-transform: matrix(-0.9925,0.1219,-0.1219,-0.9925,56,50);
	transform: matrix(-0.9925,0.1219,-0.1219,-0.9925,56,50);
	position: relative;
	margin-right: -10000px;
	margin-top: 521px;
	left: 21px;
}

#u5370
{
	z-index: 119;
	width: 26px;
	background-color: transparent;
	-webkit-transform: matrix(0.0349,-0.9994,0.9994,0.0349,-12,36);
	-ms-transform: matrix(0.0349,-0.9994,0.9994,0.0349,-12,36);
	transform: matrix(0.0349,-0.9994,0.9994,0.0349,-12,36);
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 731px;
}

#u5373
{
	z-index: 121;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 30px;
}

#u5373_img
{
	padding-right: 1px;
}

#u5379
{
	z-index: 123;
	width: 42px;
	background-color: transparent;
	-webkit-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,47,7);
	-ms-transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,47,7);
	transform: matrix(-0.2756,0.9613,-0.9613,-0.2756,47,7);
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 507px;
}

#u5382
{
	z-index: 125;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 455px;
}

#u5385
{
	z-index: 127;
	width: 44px;
	background-color: transparent;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-2,2);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-2,2);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-2,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 554px;
	left: 85px;
}

#u5388
{
	z-index: 129;
	width: 40px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,40,40);
	-ms-transform: matrix(-1,0,0,-1,40,40);
	transform: matrix(-1,0,0,-1,40,40);
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
	left: 476px;
}

#u5391
{
	z-index: 131;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 5px;
}

#u5394
{
	z-index: 133;
	width: 35px;
	background-color: transparent;
	-webkit-transform: matrix(0.0523,-0.9986,0.9986,0.0523,-1,34);
	-ms-transform: matrix(0.0523,-0.9986,0.9986,0.0523,-1,34);
	transform: matrix(0.0523,-0.9986,0.9986,0.0523,-1,34);
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 21px;
}

#u5397
{
	z-index: 135;
	width: 112px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 26px;
}

#u5403
{
	z-index: 137;
	width: 75px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 841px;
	background: transparent url("../images/gally-u5403-fr.png") no-repeat left top;
	background-size: contain;
}

#u5403:hover
{
	width: 75px;
	height: 71px;
	min-height: 0px;
	margin: 577px -10000px 0px 0px;
	background: transparent url("../images/gally-u5403-r-fr.png") no-repeat left top;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

