.version.services /* version checker */
{
	color: #0000F1;
	background-color: #F7AA21;
}

.html
{
	background: #FFFFFF url("../images/aheimann_storyteller_white.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 659px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 22px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/aheimann_storyteller_white-page-fr.png") no-repeat left top;
	background-color: rgba(255,255,255,0.26);
	background-size: cover;
}

#u138_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u138_position_content
{
	margin-bottom: -11px;
	padding-top: 44px;
}

#pu1228
{
	width: 0.01px;
	left: 910px;
	position: relative;
}

#u1228
{
	z-index: 12;
	width: 45px;
	margin-right: -10000px;
}

#u4447
{
	z-index: 38;
	width: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u546
{
	z-index: 3;
	left: 68px;
	top: -2px;
	margin-bottom: -2px;
}

#u138,#u138-bw
{
	z-index: 2;
	min-height: 172px;
}

#u1227
{
	z-index: 5;
	width: 335px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 29px;
}

#u748
{
	z-index: 6;
	width: 130px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u781
{
	z-index: 8;
	width: 118px;
	margin-right: -10000px;
	left: 132px;
}

#u781_clip
{
	width: 118px;
	height: 69px;
}

#u781_img
{
	margin-top: -12px;
}

#u945
{
	z-index: 10;
	width: 85px;
	margin-right: -10000px;
	left: 250px;
}

#u1260
{
	z-index: 14;
	width: 251px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 575px;
}

#u3204
{
	z-index: 16;
	width: 165px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 46px;
}

#u3208-4
{
	z-index: 20;
	width: 134px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 12px;
}

#u3205
{
	z-index: 17;
	width: 161px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 217px;
}

#u3209-4
{
	z-index: 24;
	width: 134px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u3206
{
	z-index: 18;
	width: 175px;
	padding-bottom: 11px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 562px;
}

#u3212-4
{
	z-index: 28;
	width: 134px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 24px;
}

#u3207
{
	z-index: 19;
	width: 171px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 744px;
}

#u3213-4
{
	z-index: 32;
	width: 134px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u3234
{
	z-index: 36;
	width: 47px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 855px;
}

#u3234_img
{
	padding-bottom: 1px;
}

#u4951
{
	z-index: 40;
	width: 845px;
	margin-right: -10000px;
	margin-top: 177px;
	left: -100px;
}

#u2605
{
	z-index: 42;
	width: 306px;
	height: 234px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 318px;
}

#u2605:hover
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u2605:active
{
	width: 306px;
	height: 234px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u4959
{
	z-index: 43;
	width: 330px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 739px;
}

#u5240
{
	z-index: 45;
	width: 926px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 14px;
}

#u4469
{
	z-index: 47;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 804px;
}

#u4471
{
	z-index: 49;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 905px;
}

#u5225
{
	z-index: 51;
	width: 815px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 73px;
}

#u5231-4
{
	z-index: 53;
	width: 605px;
	min-height: 72px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 225px;
}

#u5246
{
	z-index: 57;
	width: 391px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 371px;
	left: 527px;
}

#u5252-3
{
	z-index: 59;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 473px;
	left: 553px;
}

#u5253-29
{
	z-index: 62;
	width: 315px;
	min-height: 353px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 567px;
}

#u5253-2,#u5253-4,#u5253-6
{
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
}

#u5254
{
	z-index: 91;
	width: 471px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 37px;
}

#u5260-41
{
	z-index: 93;
	width: 429px;
	min-height: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 65px;
}

#u5260-2,#u5260-3,#u5260-5,#u5260-7,#u5260-8,#u5260-10,#u5260-11,#u5260-13,#u5260-15,#u5260-17,#u5260-19,#u5260-21,#u5260-23,#u5260-24
{
	text-align: left;
	line-height: 15px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u5260-25
{
	text-decoration: underline;
}

#u5260-27,#u5260-28
{
	text-align: center;
	line-height: 15px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u5260-30
{
	font-size: 13px;
	text-align: center;
	line-height: 14px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u5260-31
{
	text-align: left;
	color: #FFFFFF;
}

#u5260-33,#u5260-34,#u5260-36,#u5260-37,#u5260-39
{
	text-align: center;
	color: #6E3A71;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u5261-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 345px;
	left: 179px;
}

#u5268
{
	z-index: 138;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 825px;
	left: 553px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

